### general
tags
venv/

### OSX
._*
.DS_Store

### intellij
.idea/
out/

### python
__pycache__/
*.py[cod]
*$py.class
.python-version
.venv
venv/
build/
dist/


### data paths
*_data_in/
*_data_out/

### ipython
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

### user-specifics (c3dl)
resnet.json
resnet_imagenet.json
run.sh
train.sh
user_dev_workspace/
log.log
vgg_imagenet.json
c3dl_*.json
*.zip

### denoising autoencoders
denoising_autoencoder/mnist/
